<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details de l'utilisateur</title>
</head>
<body>
    <h2>Détails de l'utilisateur</h2>
    <div class="user-details">
        <div class="name">Nom: {{ user.name }}</div>
        <div class="lastname">Prénom: {{ user.lastname }}</div>
        <div class="login">Login: {{ user.login }}</div>
        <div class="desc">Description: {{ user.desc }}</div>
    </div>
</body>
</html>
